@media (max-width: 768px) {
  html {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    font-size: 14px;
  }

  button {
    width: 20vw;
    height: 10vw;
    font-size: 4vw;
  }

  nav {
    left: 50vw;
    transform: translateX(-50%);
    width: 80vw;
    height: 15vw;
    border-radius: 0 0 10px 10px;
    position: fixed;
  }

  .logo-img {
    width: 8vw;
    margin-left: 2vw;
    margin-right: 1vw;
  }

  .nav_items {
    width: 100vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.2vw;
  }

  .nav_items > a:not(:first-child) {
    margin-right: 0;
  }

  .nav_items > a {
    font-size: 4.6vw;
  }

  .banner {
    height: auto;
    background-size: cover;
    background-position: center;
    margin-top: -5vw;
    height: 50vw;
    position: relative;
  }

  .banner-header {
    position: absolute;
    font-size: 13vw;
    text-align: center;
    top: 20vw;
    left: 30vw;
    transform: none;
  }

  .banner-text {
    position: static;
    font-size: 4.5vw;
    text-align: center;
    transform: none;
  }

  .about {
    height: 50vw;
  }

  .about-header {
    position: absolute;
    font-size: 5vw;
    margin-bottom: 4vw;
    left: 4vw;
    top: 1vw;
  }

  .abt-list {
    position: absolute;
    font-size: 4.2vw;
    left: 6vw;
    top: 5vw;
  }

  .about-image {
    position: absolute;
    width: 40%;
    left: 50vw;
    top: 9vw;
  }

  .image-1 {
    position: absolute;
    width: 100vw;
  }

  .sales {
    height: 75vw;
    top: 20vw;
  }

  .sales-header {
    position: static;
    font-size: 6vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
  }

  .table {
    position: static;
    width: 70%;
    border-width: 5px;
    margin-left: 12vw;
  }

  .table th,
  .table td {
    font-size: 4vw;
  }

  .works-list {
    height: 45vw;
    padding: 15vw 5vw 15vw;
  }

  .real-works,
  .sketches {
    position: static;
    width: 90%;
    height: 20vw;
    margin-bottom: 5vw;
  }

  .w1-txt {
    font-size: 4vw;
    top: 23vw;
    left: 27vw;
  }

  .w2-txt {
    font-size: 4vw;
    top: 48vw;
    left: 27vw;
  }

  .btn-1 {
    position: static;
    transform: none;
    margin: 8vw auto 0;
    display: block;
    padding-bottom: 1.5vw;
  }

  .ourworks,
  .oursketches {
    height: auto;
    padding: 20vw 5vw 15vw;
  }

  .works-wrapper,
  .works-wrapper-2 {
    position: static;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 6vw;
    margin-left: -5vw;
  }

  body.page-works .image-1 {
    top: -2vw;
    margin-bottom: 2vw;
  }

  .image-div,
  .im1,
  .im2,
  .im3,
  .im4,
  .im5,
  .im6 {
    width: 40vw;
  }

  .btn-2 {
    position: static;
    transform: none;
    margin: 5vw auto 0;
    display: block;
  }

  .mini-header {
    position: static;
    font-size: 6vw;
    text-align: center;
    margin-top: 1vw;
  }

  .mini-img {
    position: static;
    width: 12vw;
    display: block;
    margin: 0 auto 5vw;
    transform: none;
  }

  .form {
    height: auto;
    padding: 18vw 5vw 12vw;
  }

  .myform {
    position: static;
    transform: none;
    width: 50vw;
    font-size: 4.2vw;
    margin-left: 20vw;
  }

  .form-wrapper {
    margin-bottom: 4vw;
  }

  input,
  select {
    font-size: 5.2vw;
    height: 10vw;
  }

  .form-btn {
    margin-top: 6vw;
    margin-left: 0;
    width: 60vw;
    height: 10vw;
    font-size: 4.5vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 4.5vw;
    height: 4.5vw;
    margin-top: 2vw;
  }

  .problem {
    height: auto;
    padding: 18vw 5vw 12vw;
  }

  .problem-header {
    position: static;
    font-size: 6vw;
    text-align: center;
    margin-bottom: 4vw;
    transform: none;
  }

  .problem-txt {
    position: static;
    font-size: 4vw;
    text-align: left;
    margin-bottom: 6vw;
    transform: none;
  }

  .problem-form {
    position: static;
    transform: none;
    font-size: 4.2vw;
  }

  .problem-btn {
    margin-top: 5vw;
  }

  .problem-result {
    position: static;
    transform: none;
    font-size: 4vw;
    margin-top: 5vw;
    text-align: center;
  }

  .shop-section {
    height: 300vw;
    padding: 20vw 0 12vw;
  }

  .shop-title {
    position: static;
    transform: none;
    font-size: 9vw;
    text-align: center;
    margin-top: 8vw;
  }

  .shop-1,
  .shop-2,
  .shop-3,
  .shop-4,
  .shop-5,
  .shop-6 {
    position: static;
    width: 100vw;
    height: auto;
    margin: 0 auto 8vw;
    margin-bottom: 10vw;
  }

  .shop-img {
    width: 100%;
    height: 70vw;
    background-size: cover;
  }

  .info {
    position: static;
    width: 100%;
    height: 80%;
    height: auto;
    padding: 4vw 4vw 8vw;
  }

  .infotxt {
    position: static;
    display: block;
    font-size: 4vw;
    margin-bottom: 1vw;
  }

  .shop-button {
    position: static;
    transform: none;
    display: block;
    width: 20vw;
    height: 10vw;
    font-size: 4.5vw;
    margin-top: 3vw;
    margin-left: 5vw;
  }

  .shop-card {
    width: 100%;
    height: 20vw;
    position: relative;
    margin-bottom: 40vw;
  }

  .shop-list {
    gap: 20vw 6vw;
    padding-top: 15vw;
  }

  .footer {
    height: 5vw;
    padding: 4vw 0 6vw;
  }

  .footer-container {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .footer-logo-img {
    position: static;
    height: 8vw;
    margin-right: 4vw;
  }

  .footer-txt,
  .footer-link {
    position: static;
    font-size: 4.5vw;
    margin: 0 3vw;
  }
}
